.slides-ctx {
  .hero {
    &__title-custom {
      color: $cover-text-color;
    }
    &__date-custom {
      color: rgba($post-bg, 1);
    }
  }
  .arrow-container {
    display: block;
    width: 24px;
    margin-left: $base-margin;
    bottom: 35%;
    right: $base-margin;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }

  .arrow-down {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 1px solid $post-text-color;
    border-bottom: 1px solid $post-text-color;
    margin: 0 0 2px 4px;
    width: 10px;
    height: 10px;
  }

  .arrow-down__first {
    margin-top: 1px;
  }

  .arrow-down__first,
  .arrow-down__second,
  .arrow-down__third {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
  }

  .arrow-down__first {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
  }

  .arrow-down__second {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
  }

  .arrow-down__third {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  .slide {
    &__label-custom {
      color: $label-bg;
    }

    &__post-item-custom {
      background-color: $post-bg;
    }

    &__meta-container-custom {
      background: rgba($post-bg, 0.7);
    }
    &__category-custom {
      color: $label-bg;
    }
    &__title-custom,
    &__date-custom {
      color: $post-text-color;
    }
    &__description-custom {
      color: $post-text-color;
      a {
        color: $link-color;
      }
    }
    &__top-inner-custom {
      &.has-border {
        border-top: 1px solid $border-color;

        @media screen and (orientation:landscape) {
          border-color: transparent;
        }
      }
    }
    &__triangle-custom {
      border-left: 100vw solid transparent;
      border-right: 0px solid transparent;
      border-top: 20px solid rgba($post-bg, 1);
      &--inverse {
        border-right: 0px solid transparent;
        border-left: 100vw solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
        border-top: 20px solid transparent;
      }
      &--bottom-to-right {
        border-right: 100vw solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
      }
    }
    &__overlay-custom {
      background-color: rgba($overlay-bg, 0.5);
    }
  }
}
