.slides-ctx {
  .hero {
    &__title-custom,
    &__date-custom {
      color: rgba($post-bg, 1);
    }
  }
  .slide {
    &__label-custom {
      color: $label-bg;
    }

    &__post-item-custom {
      background-color: $post-bg;
    }

    &__meta-container-custom {
      background: rgba($post-bg, 0.7);
    }
    &__category-custom {
      color: $label-bg;
    }
    &__title-custom,
    &__date-custom {
      color: $post-text-color;
    }
    &__description-custom {
      color: $post-text-color;
      a {
        color: $link-color;
      }
    }
    &__top-inner-custom {
      &.has-border {
        border-top: 1px solid $border-color;
      }
    }
    &__triangle-custom {
      border-left: 100vw solid transparent;
      border-right: 0px solid transparent;
      border-top: 20px solid rgba($post-bg, 1);
      &--inverse {
        border-right: 0px solid transparent;
        border-left: 100vw solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
        border-top: 20px solid transparent;
      }
      &--bottom-to-right {
        border-right: 100vw solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
      }
    }
    &__overlay-custom {
      background-color: rgba($overlay-bg, 0.5);
    }
  }
}
