.swiper-pagination {
  display: none !important;
}

.slides-ctx {
  .hero {
    &__container {
      padding: $base-padding;
    }

    &__label {
      color: $label-bg !important;
    }

    &__title {
      color: $cover-text-color;
    }
    &__date {
      color: rgba($post-bg, 1);
    }
    
    &__top-inner {
      flex: 1 0 auto;
    }
    &__logo-container {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: $base-padding * 7;
      padding: $base-padding-sm;
      img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .slide {

    &__img-wrap {
      overflow:hidden;
    }

    &__wrapper {
      flex-direction: column;
      @media screen and (orientation: landscape) {
        flex-direction: row;
      }
    }
    &__post-item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1 0 auto;
      overflow: hidden;
      background-color: $post-bg;
    }
    &__meta-container {
      background: rgba($post-bg, 0.7);
      padding: $base-padding;
    }
    &__category {
      color: $label-bg;
    }
    &__title,
    &__date {
      color: $post-text-color;
      padding-right: 25px; // not to overlap the menu button;
    }
    &__top-inner {
      flex: 1 0 auto;
      &.has-border {
        border-top: 1px solid $border-color;

        @media screen and (orientation:landscape) {
          border-color: transparent;
        }
      }
    }
    &__triangle {
      width: 0;
      height: 0;
      border-left: 100vw solid transparent;
      border-right: 0px solid transparent;
      border-top: 20px solid rgba($post-bg, 1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      &--inverse {
        border-right: 0px solid transparent;
        border-left: 100vw solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
        border-top: 20px solid transparent;
      }
      &--bottom-to-right {
        border-right: 100vw solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
      }
    }
    &__overlay {
      background-color: rgba($overlay-bg, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &__description {
      color: $post-text-color;

      a {
        color: $link-color;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
