.side-nav-ctx {

  @keyframes leave-animation {
    0% {
      transform:translateX(0);
      opacity: 1;
      max-height: 90px;
    }
    5% {
      transform: translateX(-110%);
      max-height: 90px;
    }
    15% {
      max-height: 0;
      height: 0;
    }
    100% {
      transform: translateX(-120%);
      opacity: 0;
      max-height: 0; height: 0;
    }
  }

  @keyframes enter-animation {
    0% {
      opacity: 0;
      transform: translateX(120%);
      max-height: 0;
      height: 0;
    }
    30% {
      transform: translateX(110%);
      max-height: 90px;
    }
    100% {
      transform:translateX(0);
      opacity: 1;
    }
  }

  .side-nav {
    &__container {
      background: $side-nav-bg;
    }
    &__categories-container, &__static-pages-container, &__go-to-container  {
      padding: $base-padding;
      background: transparent;
      font-size: $base-font-size;
      height: $ionic-bar-height * 1.5;

      h4 {
        font-size: $base-font-size;
        text-transform: uppercase;
      }

      .icon {
        font-size: 100%
      }
    }

    &__go-to-container {
      border: none;
    }

    &__categories-title, &__static-pages-title, &__go-to-title, &__icon {
      color: $side-nav-color;
    }
  }
}

body:not(.platform-ios) {
  .side-nav-ctx {
    .animate-repeat.ng-enter {
      animation: 0.375s enter-animation;
      animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .animate-repeat.ng-leave {
      animation: 1.2s leave-animation;
      animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    }
  }
}
