.side-nav-ctx {
  .side-nav {

    &__container-custom {
      background: $side-nav-bg;
    }
    &__categories-container-custom, &__static-pages-container-custom  {
      border-bottom: 1px solid $border-color;
    }
    &__categories-title-custom, &__static-pages-title-custom, &__go-to-title-custom, &__icon-custom {
      color: $side-nav-color;
    }
  }
}
