<ion-view cache-view="false" class="side-nav-ctx">
  <ion-content class="side-nav__container side-nav__container-custom">
    <div data-ng-if="navSideVm.menuItem == 'root' && navSideVm.contentLoaded" class="animate-repeat">
      <div
        data-ui-sref="app.nav.latest"
        menu-close
        class="side-nav__categories-container side-nav__categories-container-custom d-flex vertical-align">
        <h4 class="side-nav__categories-title side-nav__categories-title-custom m-a-0"
          translate="LINKS.HOME">
        </h4>
      </div>

      <div
        data-ng-if="navSideVm.hasCategories"
        data-ng-click="navSideVm.openCategories()"
        class="side-nav__categories-container side-nav__categories-container-custom d-flex space-between vertical-align">

        <h4 class="side-nav__categories-title side-nav__categories-title-custom text-ellipsis m-a-0" translate="LINKS.CATEGORIES"></h4>
        <i class="icon button-icon side-nav__icon side-nav__icon-custom ion-ios-arrow-right"></i>
      </div>

      <div
        data-ng-if="navSideVm.hasPages"
        data-ng-click="navSideVm.openPages()"
        class="side-nav__static-pages-container side-nav__static-pages-container-custom d-flex space-between vertical-align">

        <h4 class="side-nav__static-pages-title side-nav__static-pages-title-custom text-ellipsis m-a-0" translate="LINKS.GO_TO"></h4>
        <i class="icon button-icon side-nav__icon side-nav__icon-custom ion-ios-arrow-right"></i>
      </div>

      <!-- link to website -->
      <div
        data-ng-if="navSideVm.websiteUrl"
        data-ng-click="navSideVm.openDesktopWebsite()"
        class="side-nav__go-to-container side-nav__go-to-container-custom">
        <h4 class="side-nav__go-to-title side-nav__go-to-title-custom text-ellipsis"
          translate="LINKS.VISIT_WEBSITE">
        </h4>
      </div>
    </div>

    <!-- categories list -->
    <div data-ng-if="navSideVm.menuItem == 'categories' && navSideVm.hasCategories && navSideVm.contentLoaded" class="side-nav__static-pages-list animate-repeat">
      <appticles-nested-categories menu-item="navSideVm.menuItem"></appticles-nested-categories>
    </div>

    <!-- pages list -->
    <div data-ng-if="navSideVm.menuItem == 'pages' && navSideVm.hasPages && navSideVm.contentLoaded" class="side-nav__static-pages-list animate-repeat">
      <appticles-nested-pages menu-item="navSideVm.menuItem"></appticles-nested-pages>
    </div>

  </ion-content>
</ion-view>
