<ion-view cache-view="false" class="side-nav-view side-nav-view-custom">
  <ion-content data-ng-show="navSideVm.currentPages !== '' " class="side-nav-view__container side-nav-view-custom__container-custom">
    <div data-ng-if="navSideVm.directiveApi.isRoot" class="animate-repeat">
      <div class="side-nav-view__categories-container">
        <h4 menu-close class="side-nav-view__categories-title side-nav-view-custom__categories-title-custom m-a-0" data-ui-sref="app.nav.latest"
          translate="LINKS.HOME"></h4>
      </div>

      <!-- static pages list -->
      <div data-ng-click="navSideVm.loadPages()" data-ng-if="navSideVm.hasPages" class="side-nav-view__static-pages-container">
        <h4 class="side-nav-view__static-pages-title side-nav-view-custom__static-pages-title-custom" translate="LINKS.GO_TO"></h4>
        <i ng-class="{'icon  button-icon side-nav-view__icon ion-ios-arrow-right side-nav-view-custom__icon-custom': !navSideVm.pageMenuOpen, 'icon  button-icon side-nav-view__icon ion-ios-arrow-up side-nav-view-custom__icon-custom': navSideVm.pageMenuOpen}"></i>
      </div>

      <!-- category list -->
      <div data-ng-click="navSideVm.loadCategories()" data-ng-if="navSideVm.hasCategories" class="side-nav-view__categories-container">
        <h4 class="side-nav-view__categories-title side-nav-view-custom__categories-title-custom" translate="LINKS.CATEGORIES"></h4>
        <i ng-class="{'icon  button-icon side-nav-view__icon ion-ios-arrow-down side-nav-view-custom__icon-custom': !navSideVm.categoryMenuOpen, 'icon  button-icon side-nav-view__icon ion-ios-arrow-up side-nav-view-custom__icon-custom': navSideVm.categoryMenuOpen}"></i>
      </div>

      <!-- link to website -->
      <div class="side-nav-view__go-to-container side-nav-view-custom__go-to-container-custom" ng-if="navSideVm.websiteUrl" data-ng-click="navSideVm.openDesktopWebsite()"></div>
      <h4 class="side-nav-view__go-to-title side-nav-view-custom__go-to-title-custom" translate="LINKS.VISIT_WEBSITE"></h4>
    </div>
    <div data-ng-if="!navSideVm.directiveApi.isRoot && navSideVm.pageContentLoaded" class="side-nav-view__static-pages-list animate-repeat">
      <appticles-nested-pages directive-api="navSideVm.directiveApi" pages="navSideVm.allPages"></appticles-nested-pages>
    </div>
    <div data-ng-if="!navSideVm.directiveApi.isRoot && navSideVm.categoryContentLoaded" class="side-nav-view__static-pages-list animate-repeat">
      <appticles-nested-categories directive-api="navSideVm.directiveApi" categories="navSideVm.allCategories"></appticles-nested-categories>
    </div>
  </ion-content>
</ion-view>
