.page__close-btn {
  color: $btn-color !important;
  background: $btn-bg !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0!important;
  right: 10px;
  top: 3px;
  transition: all 0.5s ease-in-out;
  &::before {
    font-size: 24px !important;
    line-height: 30px !important;
  }
}

.page-ctx {

  ion-content {
    top: 0 !important;
    background-color: $post-bg;
  }

  .page {

    &__title {
      color: $post-text-color !important;
      margin-left: $base-padding;
      top: 3px !important;
      margin-top: $base-margin !important;
      margin-bottom: $base-margin-sm !important;
      font-size: $base-font-size;
    }

    &__content {
      color: $post-text-color;
      background: $post-bg;
      border-top: 1px solid $border-color;
      margin: $base-margin;
      margin-top: 0;
      padding-top: $base-padding;

      p, li, span {
        color: $post-text-color;
      }

      p {
        /*refers to embeddable objects that come from the wordpress dashboard*/
        embed, iframe, object, video {
            max-width: 100%;
        }
      }

      h1, h2, h3, h4, h5, h6 {
        color: $post-text-color;
        margin-bottom: $base-margin-sm;
        margin-top: $base-margin-sm;
      }
      ol {
        list-style: decimal;
        padding-left: $base-padding;
      }
      ul {
        list-style: disc;
        padding-left: $base-padding;
      }
      iframe {
        max-width: 100%;
      }
      img, video {
        max-width: 100%;
        height: auto;
        display: block;
        margin: $base-margin-sm 0;
      }
      a {
        color: $link-color;
      }
      div {
        max-width: 100% !important;
      }
      span {
        display: block;
        font-style: italic;
      }
    }
  }

}
