.comments__close-btn-custom {
  color: $btn-color !important;
  background: $btn-bg !important;
}

.comments-ctx {

  .bar-comments-custom {
    background-color: $secondary-bg;
  }

  .comments {

    &__no-comments-title-custom {
      color: $post-text-color;
    }
    &__title-custom {
      color: $post-text-color !important;
    }

    &__comment-container-custom {
      background: $post-bg;
    }
    &__comment-author-custom {
      color: $post-text-color;
    }
    &__comment-date-custom {
      color: $post-text-color;
    }
    &__content-custom {
      color: $post-text-color;

      p, li {
        color: $post-text-color;
      }
      h1, h2, h3, h4, h5, h6 {
        color: $post-text-color;
      }
      a {
        color: $link-color;
      }
    }

  }
}
