<div class="comments-ctx">


<ion-modal-view class="comments__view comments__view-custom">
  <ion-view>
    <ion-header-bar class="bar bar-clear bar-comments bar-comments-custom">
      <h4 class="h4 title comments__title comments-custom__title-custom bar-title text-ellipsis w-80 m-b-0" translate="TEXTS.COMMENTS"></h4>
      <button class="button icon ion-close comments__ex-close-btn comments-custom__ex-close-btn-custom position-absolute" data-ng-click="commentsVm.closeModal()"></button>
    </ion-header-bar>

    <ion-content class="comments__comm-content">
      <!-- if there are no comments-->
      <div class="comments__no-comments" data-ng-if="commentsVm.commentList.length == 0">
        <h4 class="comments__no-comments-title comments-custom__no-comments-title-custom p-x-1" translate="TEXTS.NO_COMMENTS"></h4>
      </div>
      <div class="comments__comment-list comments-custom__comment-list-custom">
        <div class="comments__comment-container comments-custom__comment-container-custom" data-ng-if="commentsVm.commentList.length !== 0" data-ng-repeat="comment in commentsVm.commentList">
          <a data-ng-href="{{comment.author_url}}">
            <div data-ng-if="comment.avatar" class="comments__comment-avatar">
              <img data-ng-src="{{comment.avatar}}">
            </div>
          </a>
          <div class="comments__comment-content-container">
            <div class="comments__comment-details w-100">
              <h5 class="comments__author-name comments__author-name-custom m-t-0"> {{comment.author}} </h5>
              <h6 class="comments__author-name comments__author-name-custom m-t-0 m-b-2"> {{comment.date}} </h6>
            </div>
            <div class="comments__content comments__content-custom" data-ng-bind-html="comment.content | TrustHtmlFilter"></div>
          </div>
        </div>
      </div>
      <div>{{commentsVm.postDetails.commentStatus}}</div>
    </ion-content>
  <appticles-add-comment data-ng-if="commentsVm.postDetails['comment_status'] == 'open'" directive-api="commentsVm.directiveApi"></appticles-add-comment>
  </ion-view>
</ion-modal-view>

</div>
