// BASE
$base-font-size: 1rem;
$base-font-size-lg: 2rem;

$base-font-family: "Roboto", sans-serif;
$headings-font-family: "Roboto", sans-serif;


//BACK TO BLACK
$text-color: #ffffff;
$overlay-bg: #000000;
$btn-color: #ffffff;
$btn-bg: #444;

$label-bg: #63a9dd;

$side-nav-bg: #ffffff;
$border-color: #f0f0f0;
$side-nav-color: #444;

$post-bg: #ffffff;
$secondary-bg: #ddd;
$post-text-color: #000;

$link-color: purple;
