//centering flex
.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

// used with display: flex
.space-between {
  justify-content: space-between;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-flex-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-order {
  &-1 {
    order: 1;
  }

  &-0 {
    order: 0;
  }
}


// display
.d-block {
  display: block !important;
}
.d-none {
  display: none;
}
.d-inline-block {
  display: inline-block !important;
}
.d-inline {
  display: inline !important;
}
.d-flex {
  display: flex !important;
}

//overflow
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll-x {
  overflow-x: scroll;
}

//positioning
.position-fixed {
  position: fixed;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.l-0 {
  left: 0;
}
.r-0 {
  right: 0;
}
.t-0 {
  top: 0;
}
.b-0 {
  bottom: 0;
}

// sizing
.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-75 {
  width: 75%;
}
.w-70 {
  width: 70%;
}
.w-65 {
  width: 65%;
}
.w-50 {
  width: 50%;
}
.w-30 {
  width: 30%;
}
.w-10 {
  width: 10%;
}
.h-vh {
	height: 100vh;
}
.h-50vh {
  height: 50vh;
}
.h-80vh {
  height: 80vh;
}
.w-vw {
  width: 100vw;
}

//spacing
.m-x-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}
$spacer:   10px;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  half: (
    x: ($spacer-x * 0.5),
    y: ($spacer-y * 0.5)
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  4: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  ),
  5: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  )
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    .#{$abbrev}-a-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
    .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y !important; }
    .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x !important; }
    .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y !important; }
    .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x !important; }

    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right:  $length-x !important;
      #{$prop}-left:   $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top:    $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}

//text
.font-style-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-heading-style {
  font-family: $headings-font-family !important;
}
.text-body-style {
  font-family: $base-font-family !important;
  font-weight: normal;
}
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
.text-justify {
  text-align: justify;
}
.text-clamped {
  @include line-clamp(2);

  &-3-lines {
    @include line-clamp(3);
  }

  &-4-lines {
    @include line-clamp(4);
  }

  &-8-lines {
    @include line-clamp(8);
  }

  &-1-line {
    @include line-clamp(1);
  }
}


.link-unstyled {
  text-decoration: none;
}
.f-left {
  float: left !important;
}
.f-right {
  float: right !important;
}

//background
.bg-cover {
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.max-width-md {
  max-width: 16rem;
}
.index-2 {
  z-index: 2;
}
.index-3 {
  z-index: 3;
}
