.latest {
  &__button-more-custom {
    color: $btn-color !important;
    background: $btn-bg !important;
  }

  &__no-articles-custom {
    color: $post-text-color;
  }
}

.latest-ctx {
  background-color: $post-bg;
}
