.latest {
  &__button-more {
    color: $btn-color !important;
    background: $btn-bg !important;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: $base-margin-sm;
    margin-top: $base-margin-sm;

    &::before {
      font-size: 24px !important;
      line-height: 30px !important;
    }
  }
}

.swiper-pagination {
  display: none !important;
}

.latest-ctx {
  .hero {

    &__container {
      padding: $base-padding;
    }

    &__title, &__date {
      color: rgba($post-bg, 1);
    }

    &__top-inner {
      flex: 1 0 auto;
    }
  }

  .side-nav__logo-container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: $base-padding * 5;
    padding: $base-padding-sm;
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .latest {

    &__wrapper {
      flex-direction: column;
    }
    &__post-item {
      flex-direction:column;
      align-items: center;
      justify-content: center;
      flex: 1 0 auto;
    }
    &__meta-container {
      background: rgba($post-bg,0.7);
      padding: $base-padding;
    }
    &__category {
      color: $label-bg;
    }
    &__title, &__date {
      color: $post-text-color;
    }

    &__top-inner {
      &.has-border {
        border-top: 1px solid $border-color;
      }
    }

    &__triangle {
      width: 0;
      height: 0;
      border-left: 100vw solid transparent;
      border-right: 0px solid transparent;
      border-top: 20px solid rgba($post-bg, 1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";

      &--inverse {
        border-right: 0px solid transparent;
        border-left: 100vw solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
        border-top: 20px solid transparent;
      }

      &--bottom-to-right {
        border-right: 100vw solid transparent;
        border-left: 0px solid transparent;
        border-bottom: 20px solid rgba($post-bg, 1);
      }

    }


    &__description {
      p {
        margin-bottom: 0;
      }
    }
  }
}
