<ion-view cache-view="false" class="latest-ctx">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear button-dark ion-navicon latest__button-more latest__button-more-custom"
      menu-toggle="right"></button>
  </ion-nav-buttons>
  <ion-content scroll="false" data-ng-show="latestVm.contentLoaded">
    <!-- if articles -->
    <div class="latest__no-articles latest__no-articles-custom text-center m-t-2 text-body-style" translate="TEXTS.NO_ARTICLES" data-ng-if="!latestVm.hasArticles"></div>
    <!-- first elem -->
    <appticles-slides
    type="latest"
    data-ng-if="::(latestVm.posts && latestVm.hasArticles && latestVm.categories)"
    posts="latestVm.posts" categories="latestVm.categories"></appticles-slides>
    <!-- end list -->
  </ion-content>
</ion-view>
