<ion-slides options="slidesVm.sliderOptions" slider="slidesVm.slider">
  <ion-slide-page data-ng-repeat="page in slidesVm.posts">
  <div class="latest__wrapper d-flex h-100">
    <div data-ng-repeat="post in page" data-ui-sref="app.nav.post({categorySlugId: slidesVm.categories.id, postId: post.id})"
      class="latest__post-item d-flex position-relative">
      <div class="latest__top-container position-absolute d-flex flex-column justify-flex-start t-0 h-100 w-100">
        <div class="latest__top-inner latest__top-inner-custom b-0" ng-class="{'flex-order-1' : page.length === 1 || ($index === 1 && page.length === 2), 'has-border' : ($index === 1 && page.length === 2)}">
          <div class="latest__meta-container latest__meta-container-custom">
            <h3 class="h3 latest__title latest__title-custom text-heading-style m-y-0 text-clamped" data-ng-bind-html="post.title | TrustHtmlFilter">
            </h3>
            <h6 class="latest__date latest__date-custom text-body-style d-inline-block m-y-0">{{ post.date }}</h6>
            <div class="latest__description latest-custom__description-custom text-body-style m-a-0" data-ng-class="{'text-clamped-1-line' : post.image.src, 'm-t-2' : !post.image.src, 'text-clamped-4-lines' : (page.length === 2 && !post.image.src), 'text-clamped-8-lines' : (page.length == 1 && !post.image.src)}"
              data-ng-bind-html="post.description | TrustHtmlFilter"></div>
          </div>
        </div>
        <div data-ng-if="post.image.src" class="latest__img-wrap position-relative h-75" ng-class="{'flex-order-0' : page.length === 1 || ($index === 1 && page.length === 2)}">
          <div data-ng-if="post.image.src" class="latest__cover w-100 h-100 bg-cover" data-ng-style=" {'background':'url( {{ post.image.src }} )'}"></div>
          <div data-ng-if="!post.image.src" class="latest__cover-noimg w-100 h-100 bg-cover" data-ng-style=" {'background':'url(https://source.unsplash.com/random)'}"></div>
          <div class="position-absolute" ng-class="{'b-0 latest__triangle--bottom-to-right latest__triangle-custom--bottom-to-right' : page.length === 1 || ($index === 1 && page.length === 2), 't-0 latest__triangle latest__triangle-custom' : $index === 0 && page.length === 2}"></div>
        </div>
      </div>
    </div>
  </div>
</ion-slide-page>
</ion-slides>
