.post__button-back-custom, .post__ex-social-btn-custom {
  color: $btn-color !important;
  background: $btn-bg !important;
}

.post-ctx {

  .post {

    &__cover-noimg-custom {
      background-color: $post-bg;
    }

    &__meta-container-custom {
      background: rgba($post-bg,0.7);
      background: -webkit-linear-gradient(rgba($post-bg, 0.7) 0%, rgba($post-bg, 1) 95%); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgba($post-bg, 0.7) 0%, rgba($post-bg, 1) 95%); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgba($post-bg, 0.7) 0%, rgba($post-bg, 1) 95%); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgba($post-bg, 0.7) 0%, rgba($post-bg, 1) 95%); /* Standard syntax */

            &--no-img {
        background: rgba($post-bg, 1);
      }

    }
    &__category-custom {
      color: $text-color;
      background-color: $label-bg;
    }
    &__title-custom, &__author-custom, &__date-custom {
      color: $post-text-color;
    }
    &__content-container-custom {
      color: $post-text-color;
      background: $post-bg;

      p, li, span {
        color: $post-text-color;
      }

      h1, h2, h3, h4, h5, h6 {
        color: $post-text-color;
      }

      a {
        color: $link-color;
      }

    }
    &__triangle-custom {
      border-bottom: 20px solid rgba($post-bg,0.7);
    }
  }


}
