.add-comment-ctx {
  background-color: $post-bg;
  border-top: solid 1px $btn-bg;

  ion-content {
    background-color: $post-bg;
  }

  .pull-up__handle {
    border-radius: 25px 25px 0 0;
    border-top: solid 1px $secondary-bg;
    color: $btn-color;
    background-color: $btn-bg !important;
    font-size: $base-font-size / mpow($multiplying-factor,1);
  }

  .list-inset {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $post-bg;
  }
  .add-comment {
    &__page-title {
      color: $post-text-color;
    }
    &__cover {
      width: 100vw;
      height: 50vh;
      background-position: 50% 50% !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }
    &__form {
      padding: 0 16px;
    }
    &__label {
      color: $post-text-color;
      width: 100%;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    &__input {
      border: none;
      border-bottom: 1px solid $post-text-color;
      color: $post-text-color !important;
      padding-left: 0;
      input {
        color: $post-text-color !important;
        display: inline-block;
        width: 90%;
        background: transparent !important;
      }
      textarea {
        color: $post-text-color !important;
        background-color: $post-bg;
        font-size: 14px;
        min-height: 132px;
      }
    }
    &__error-message {
      color: $error-color;
      margin-top: $base-margin-sm;
    }
    &__error-icon {
      color: $error-color;
      float: right;
    }
    &__send-btn {
      color: $text-color;
      border: none;
      background-color: $btn-bg;
      padding: 0 12px !important;
      min-width: 52px !important;
      min-height: 47px !important;
      font-size: 16px !important;
    }
  }
}

.popup {
  background-color: rgba($post-bg, 1) !important;
  span,
  p {
    color: $post-text-color;
  }
  .popup-head,
  .popup-body {
    border: none;
    text-align: center !important;
  }
  .popup-buttons {
    .button {
      color: $text-color;
      border: none;
      background-color: $btn-bg;
      border-radius: 4px;
    }
  }
}

