.nested-pages-ctx {

  .nested-pages {

    ion-item {
      border-color: $border-color !important;

    }
    &__page-title-custom, &__button-back-custom {
      color: $side-nav-color;
    }
    &__item-title-custom, &__item-icon-custom {
      color: $side-nav-color;
    }

    &__item-container-custom {
      border-bottom: 1px solid $border-color;
    }

    &__title-container-custom {
      border-bottom: 1px solid $border-color;
    }

    &__item-title-custom, &__item-icon-custom {
      color: $side-nav-color;
    }
  }

  .spinner {
    fill: $side-nav-color;
    stroke: $side-nav-color;
  }
}
