.nested-pages-ctx {

  .nested-pages {

    ion-item {
      border-color: $border-color !important;
      height: 100% !important;
      background: transparent !important;
    }
    &__page-title, &__button-back {
      color: $side-nav-color;
    }

    &__item-container {
      &:last-child {
        border-bottom: none;
      }
      border-bottom: 1px solid $border-color;
    }
    &__item-content {
      padding: $base-padding;
    }
    &__title-container {
      border-bottom: 1px solid $border-color;
    }
    &__item-title, &__item-icon {
      color: $side-nav-color;
    }
  }
}
