.nested-categories-ctx {

  .nested-categories {

    ion-item {
      border: none !important;
      height: 100% !important;
    }
    &__item-wrap {
      height: 85px;
    }
    &__img-placeholder {
      background: $overlay-bg;
    }
    &__img-overlay {
      background: rgba($overlay-bg, 0.5);
    }
    &__page-title, &__button-back {
      color: $side-nav-color;
    }
    &__item-content {
      padding: $base-padding;
    }
    &__title-container {
      padding: 0 $base-padding 0 0;
    }
    &__item-title, &__item-icon {
      color: $text-color;
    }
  }
}
