.nested-categories-ctx {

  .nested-categories {

    &__item-wrap-custom {
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: none;
      }
    }

    &__title-container-custom {
      border-bottom: 1px solid $border-color;
    }


    &__img-placeholder-custom {
      background: linear-gradient(rgba($side-nav-color, 0.7) 0%, rgba($side-nav-color, 1) 95%);
    }
    &__img-overlay-custom {
      background: rgba($overlay-bg, 0.5);
    }
    &__page-title-custom, &__button-back-custom {
      color: $side-nav-color !important;
    }
    &__item-title-custom, &__item-icon-custom {
      color: $text-color;
    }
  }
}
