.nested-categories-ctx {

  .nested-categories {

    ion-item {
      border: none !important;
      height: 100% !important;
    }
    &__item-wrap {
      height: 85px;
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-bottom: none;
      }
    }
    &__img-placeholder {
      background: linear-gradient(rgba($side-nav-color, 0.7) 0%, rgba($side-nav-color, 1) 95%);
      /* Standard syntax */
    }
    &__img-overlay {
      background: rgba($overlay-bg, 0.5);
    }
    &__page-title, &__button-back {
      color: $side-nav-color;
    }
    &__item-content {
      padding: $base-padding;
    }
    &__title-container {
      padding: 0 $base-padding 0 0;
    }
    &__item-title, &__item-icon {
      color: $text-color;
    }
  }
}
