<div class="nested-categories-ctx" ng-if="nestedCategoriesVm.contentLoaded">
  <div class="animate-repeat">
    <div
      data-ng-click="nestedCategoriesVm.goBack()"
      class="nested-categories__title-container nested-categories__title-container-custom w-100 d-flex vertical-align">
      <i class="button icon-left ion-ios-arrow-left button-clear button-dark nested-categories__button-back nested-categories__button-back-custom"></i>
      <h4
        translate="LINKS.CATEGORIES"
        class="nested-categories__page-title nested-categories__page-title-custom m-a-0 d-inline-block">
      </h4>
    </div>
  </div>
  <div
    ng-repeat="category in nestedCategoriesVm.categories"
    class="page-item animate-repeat nested-categories__item-wrap nested-categories__item-wrap-custom">
    <div class="nested-categories__item-container h-100 position-relative">
      <div
      ng-click="nestedCategoriesVm.openContent(category)"
      class="nested-categories__item-content position-absolute d-flex space-between vertical-align h-100 w-100 index-3 b-0">
        <h6
          data-ng-bind-html="category.name | TrustHtmlFilter"
          class="nested-categories__item-title nested-categories__item-title-custom text-ellipsis text-uppercase">
        </h6>
        <!--<i
          ng-if="category.has_children > 0" ng-click="nestedCategoriesVm.openChildCategories(category)"
          class="icon button-icon ion-ios-arrow-right nested-categories__item-icon nested-categories__item-icon-custom">
        </i>-->
      </div>
      <div data-ng-if="category.image" class="nested-categories__img-overlay nested-categories__img-overlay-custom bg-cover position-absolute w-100 h-100 index-2"></div>
      <div data-ng-if="category.image" data-ng-style=" {'background-image':'url({{category.image.src}})'}"  class="nested-categories__img bg-cover position-absolute w-100 h-100"></div>
      <div data-ng-if="!category.image" class="nested-categories__img-placeholder nested-categories__img-placeholder-custom h-100"></div>
    </div>
  </div>
  <ion-infinite-scroll
    data-ng-if="nestedCategoriesVm.categories.length > 0 && nestedCategoriesVm.moreCategoriesAvailable"
    data-on-infinite="nestedCategoriesVm.loadMoreCategories()"
    distance="10%"
    immediate-check="false">
  </ion-infinite-scroll>
</div>
