
// overwrites ionic modal css to show backdrop on all screens not only larger ones
@media screen {
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.8;
  }
}

.social-modal {

  &__content {
    margin-top: $ionic-bar-height;
    justify-content: space-around;
  }

  &__label {
    top: -$ionic-bar-height/2;
    background-color: $label-bg;
    color: $text-color;
    padding: 4px 12px;
    border-radius: 50px;
    right: -$ionic-bar-height/4;
    max-width: $ionic-bar-height * 1.5;
    font-size: $base-font-size / mpow($multiplying-factor,1);
  }

  &__btn-fb, &__btn-tw, &__btn-gplus, &__btn-comm {
    border-radius: 50%;
    min-height: 52px;
  }
  &__btn-fb, &__btn-tw, &__btn-gplus, {
    color: #fff;
  }
  &__btn-fb {
    background-color: $facebook;
  }
  &__btn-tw {
    background-color: $twitter;
  }
  &__btn-gplus {
    background-color: $google;
  }
  &__btn-comm {
    background-color: $btn-bg;
    border: 1px solid $btn-color;
    color: $btn-color;

  }

  &__view {
    background: transparent;
    height: $ionic-bar-height * 3;
    justify-content: space-around;
    min-height: $ionic-bar-height * 3;
    top: initial;
    bottom: 0;
    .pane {
      background: transparent;
    }
  }
}
